/* -------------------------- */
/* Desktops and laptops ----- */
/* -------------------------- */
@media only screen
and (min-width : 1280px)
{
    .endMessage, .endMessage-2
    {
        /* background: blue; */
        padding:4rem;
        font-size: 5rem;
        text-align: center;
        font-weight:100;
        margin-top:5%;
    }
    .firstText
    {
        font-size:3rem;
        width:80%;
    }
    .mobileFeedback
    {
        display:none;
    }
    .laptopFeedback
    {
        display:block;
    }
    .feedbackForm
    {
        font-size:4rem;
        background-color:aliceblue;
    }
    .buttonWrap
    {
        font-size:7rem;
        display:flex;
        justify-content: center;
    }
    .feedbackButton
    {
        width:30%;
    }
}
