.okButton-1
{
    margin-top:24vh;
}
.okButton-2
{
    margin-top:5vh;
}
.okButton-4
{
    margin-top:20vh;
}
.infoMaterial-5
{
    margin-top:-4vh;
    margin-bottom:10vh;
}
.okButton-5
{
    margin-top:13vh;
}
.okButton-6
{
    margin-top:10vh;
}
