.sliderWrapWrap
{
    transform-origin: center;
    transform:scale(1);
    opacity:1;
    height:116px;
    transition: 0.5s;
    text-align: center;
    flex-grow: 1;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: -5vh;
    margin-top: -1vh;
}
.sliderTextWrap
{
    font-weight: 100;
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: -2px;
}
.sliderText
{
    font-weight: 500;
    opacity: 1;
    color: black;
    font-size: 9vw;
    /* margin-bottom: -3vh; */
    text-align: center;
}
.sliderBar
{
    padding-top: 10px;
    margin-top: -7px;
    display: flex;
    justify-content: center;
}
.slider
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 1;
    transition: 0.35s;
    width: 251px!Important;
    background: transparent;
    margin-top: 35px;
    margin-left: -1px;
    height: 5px;
}
.bar
{
    z-index: 0;
    position: relative;
}
.slider::-webkit-slider-thumb
{
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    opacity: 1;
    /* opacity: 1; */
    transition: 0.35s;
    width: 4px;
    background: #85ddff;
    /* background: #565656; */
    height: 31px;
    margin-top: -5px;

}
.slider::-moz-range-thumb
{
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    opacity: 1;
    /* opacity: 1; */
    transition: 0.35s;
    width: 4px;
    background: #85ddff;
    /* background: #565656; */
    height: 31px;
    margin-top: -5px;
}
