/* ------------------------ */
/* ------------------------ */
/*         PORTRAIT         */
/* ------------------------ */
/* ------------------------ */
/*   GENERAL MOBILE PHONES  */
/* ------------------------ */
/* ------------------------ */
/*---- PORTRAIT ----*/
@media only screen
and (max-device-width: 428px)
and (max-device-height: 926px)
{

    .facePicture
    {
        margin-top:-6em;
    }
    .sliderWrapWrap
    {
        margin-top:5em;
        margin-bottom:9em;
        transform:scaleY(2) scaleX(2.2);
    }
    .sliderText
    {
        font-size:2.5em;
        margin-bottom:-0.5em;
    }
    .frame-sliders
    {
        display:flex;
        flex-direction:column;
    }
    .frame-button
    {
        display:flex;
        width:70%;
        margin-left:15%;
    }
    .submitButton
    {
        height:auto;
        font-size:6em;
        text-align:center;
        padding-bottom:0em;
    }


}


/* -------------------------- */
/* iPhone 5 ----------------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 568px)
and (device-width : 320px)
{

}



/* -------------------------- */
/* iPhone 6, 7, 8 ----------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 667px)
and (device-width : 375px)
{

}


/* -------------------------- */
/* iPhone 6+, 7+, 8+ -------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 736px)
and (device-width : 414px)
{

}


/* -------------------------- */
/* iPhone X ----------------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 812px)
and (device-width : 375px)
{

}


/* -------------------------- */
/* iPhone XS Max, XR -------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 896px)
and (device-width : 414px)
{

}


/* -------------------------- */
/* Samsung Galaxy S3 & S4 --- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 640px)
and (device-width : 320px)
{

}



/* -------------------------- */
/* Samsung Galaxy S5 -------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 640px)
and (device-width : 360px)
{
    .frame-B
    {
        transform:scale(0.85);
    }
}


/* -------------------------- */
/* Galaxy Fold -------------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 653px)
and (device-width : 280px)
{

}


/* -------------------------- */
/* PIXEL 2 ----------------- */
/* -------------------------- */
/*---- PORTRAIT ----*/
@media only screen
and (device-height : 731px)
and (device-width : 411px)
{
    .frame-B
    {
        transform:scale(0.85);
    }
}



/* ------------------------ */
/* ------------------------ */
/*         LANDSCAPE        */
/* ------------------------ */
/* ------------------------ */
/*   GENERAL MOBILE PHONES  */
/* ------------------------ */
/* ------------------------ */
/*---- LANDSCAPE ----*/
@media only screen
and (max-device-width: 926px)
AND (max-device-height: 428px)
{

    .facePicture
    {
        margin-top:-3em;
    }
    .sliderWrapWrap
    {
        margin-top:5em;
        margin-bottom:9em;
        transform:scaleY(2) scaleX(2.2);
    }
    .sliderText
    {
        font-size:2.5em;
        margin-bottom:-0.5em;
    }
    .frame-sliders
    {
        display:flex;
        flex-direction:column;
    }
    .frame-button
    {
        display:flex;
        width:70%;
        margin-left:15%;
    }
    .submitButton
    {
        height:auto;
        font-size:6em;
        text-align:center;
        padding-bottom:0em;
    }


}


/* -------------------------- */
/* iPhone 5 ----------------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 320px)
and (device-width : 568px)
{

}


/* -------------------------- */
/* iPhone 6, 7, 8 ----------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 375px)
and (device-width : 667px)
{

}


/* -------------------------- */
/* iPhone 6+, 7+, 8+ -------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 414px)
and (device-width : 736px)
{

}


/* -------------------------- */
/* iPhone X ----------------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 375px)
and (device-width : 812px)
{

}



/* -------------------------- */
/* iPhone XS Max, XR -------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 414px)
and (device-width : 896px)
{

}


/* -------------------------- */
/* Samsung Galaxy S3 & S4 --- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 320px)
and (device-width : 640px)
{

}


/* -------------------------- */
/* Samsung Galaxy S5 -------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 360px)
and (device-width : 640px)
{

}


/* -------------------------- */
/* Galaxy Fold -------------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 280px)
and (device-width : 653px)
{

}


/* -------------------------- */
/* PIXEL  ------------------- */
/* -------------------------- */
/*---- LANDSCAPE ----*/
@media only screen
and (device-height : 280px)
and (device-width : 653px)
{

}
