@media screen and (max-width:374px) {

    .frame-A
    {
        margin-left:17vh;
    }

    .frame-B
    {
        transform: scale(2);
        opacity: 0;
        transform-origin: top;
        position: absolute;
        left: 28vh;
        top: 12vh;
    }

    .buttonWrap
    {
        transform-origin: top;
        transform: scale(1.5);
        margin-left: 7vh;
        margin-top: 2vh;
    }

    .button
    {
        margin-bottom:0.5vh;
        width: 16vh;
    }

    .frame-C
    {
        transform-origin: top;
        opacity: 0;
        max-width: 50vh;
        transform: scale(2);
        margin-left: 14vh;
        margin-top: 22vh;

    }

}

@media screen and (min-width:375px) and (max-width:513px) {

    .frame-A
    {
        margin-left:17vh;
    }

    .frame-B
    {
        transform: scale(2);
        opacity: 0;
        transform-origin: top;
        position: absolute;
        left: 28vh;
        top: 12vh;
    }

    .buttonWrap
    {
        transform-origin: top;
        transform: scale(1.5);
        margin-left: 7vh;
        margin-top: 2vh;
    }

    .button
    {
        margin-bottom:0.5vh;
        width: 16vh;
    }

    .frame-C
    {
        transform-origin: top;
        opacity: 0;
        max-width: 50vh;
        transform: scale(2);
        margin-left: 14vh;
        margin-top: 22vh;
    }

}

/* SMARPHONE PORTRAIT VIEW */
@media screen and (min-width:514px) and (max-width:570px) {

    .frame-A
    {
        margin-left:17vh;
    }

    .frame-B
    {
        transform: scale(2);
        opacity: 0;
        transform-origin: top;
        position: absolute;
        left: 28vh;
        top: 12vh;
    }

    .buttonWrap
    {
        transform-origin: top;
        transform: scale(1.5);
        margin-left: 7vh;
        margin-top: 2vh;
    }

    .button
    {
        margin-bottom:0.5vh;
        width: 16vh;
    }

    .frame-C
    {
        transform-origin: top;
        opacity: 0;
        max-width: 50vh;
        transform: scale(2);
        margin-left: 14vh;
        margin-top: 22vh;
    }

}

/* TABLET VIEW */
@media screen and (min-width:571px) and (max-width:993px) {

    .frame-A
    {
        margin-left:17vh;
    }

    .wrap
    {
        margin-top:2vh;
        margin-right:17vh;
        transform: scale(1.8);
        transform-origin: top;
        transform: scale(1);
        transform-origin: top;
    }

    .frame-B
    {
        transform: scale(2);
        opacity: 0;
        transform-origin: top;
        position: absolute;
        left: 28vh;
        top: 12vh;
    }

    .buttonWrap
    {
        transform-origin: top;
        transform: scale(1.5);
        margin-left: 7vh;
        margin-top: 2vh;
    }

    .button
    {
        margin-bottom:0.5vh;
        width: 16vh;
    }

    .frame-C
    {
        transform-origin: top;
        opacity: 0;
        max-width: 50vh;
        transform: scale(2);
        margin-left: 14vh;
        margin-top: 22vh;
    }

}

@media screen and (min-width:993px) and (max-width:1024px) {

    .frame-A
    {
        margin-left:17vh;
    }

    .wrap
    {
        margin-top:2vh;
        margin-right:17vh;
        transform: scale(1.3);
        transform-origin: top;
    }

    .buttonWrap
    {
        transform-origin: top;
        transform: scale(1.5);
        margin-left: 7vh;
        margin-top: 4vh;
    }

    .button
    {
        margin-bottom:0.5vh;
        width: 16vh;
    }

    .frame-C
    {
        transform-origin: top;
        opacity: 0;
        max-width: 50vh;
        transform: scale(2);
        margin-left: 14vh;
        margin-top: 22vh;
    }

}




/*BIGGER LAPTOP SCREENS*/
@media screen and  (min-width:1025px) {

    .wrap
    {
        margin-top:4vh;
    }

}


/*BIGGER LAPTOP SCREENS*/
@media screen and  (min-width:1600px) {

    .wrap
    {
        margin-top:15vh;
    }

}
