
.wrap
{
    display: flex;
    justify-content: center;
}
.all{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 15%; */
    /* margin-right: 1%; */
    text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*--------------------------------*/

.frame-A
{
    margin-top:2em;
    margin-bottom:2em;
}
.frame-A-0
{
    flex-direction: column;
}
.frame-A-0-0
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.questionIndexText
{
    opacity:0;
    transition:1s;
    font-size: 2em;
    font-weight: 100;
}
.qIndex
{
    display:inline-block;
    width:1em;
}

/*--------------------------------*/

.frame-B
{
    padding-bottom:20vh;
}
.frame-B-0
{
    display:flex;
    flex-direction: column;
}
.frame-B-0-0
{
    /* margin-left:1em; */
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.question
{
    width:100%;
    text-align: left;
    font-weight: 400;
    font-size: 3em;
    /* font-size: 12em; */
    display:none;
    padding-left:15%;
    padding-right:5%;
}

.buttonWrap
{
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:1em;
    /* margin-top:0em;
    margin-left:35px; */
    font-weight:100;
}
.button
{
    transition:0.2s;
    cursor:pointer;
    border-radius:100px;
    padding-left: 25%;
    width:150%;
}
.button:hover
{
    background:black;
    color:white;
}
.button:active
{
    background:darkgreen;
}
/*--------------------------------*/

.frame-C
{
    font-size:7rem;
    font-weight:100;
    margin-top:33%;
}
